In [0]:
import tensorflow as tf
print(tf.__version__)

1.15.0

In [0]:
#Import libraries and modules
import numpy as np

np.random.seed(123) 
from keras.models import Sequential
from keras.layers import Dense, Dropout, Activation, Flatten
#from keras.layers import InputLayer
from keras.utils import np_utils

In [0]:
#Load Data(read)
import pandas as pd
data1=pd.read_csv('../content/input/tmdb_5000_credits.csv')
data2=pd.read_csv('../content/input/tmdb_5000_movies.csv')

In [0]:
#Print Data
print (df_train1.shape)
print (df_train2.shape)
data1.info()
data1.head(5)
data2.corr()

(4803, 4)
(4803, 20)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 4 columns):
movie_id    4803 non-null int64
title       4803 non-null object
cast        4803 non-null object
crew        4803 non-null object
dtypes: int64(1), object(3)
memory usage: 150.2+ KB

                budget        id  ...  vote_average  vote_count
budget        1.000000 -0.089377  ...      0.093146    0.593180
id           -0.089377  1.000000  ...     -0.270595   -0.004128
popularity    0.505414  0.031202  ...      0.273952    0.778130
revenue       0.730823 -0.050425  ...      0.197150    0.781487
runtime       0.269851 -0.153536  ...      0.375046    0.271944
vote_average  0.093146 -0.270595  ...      1.000000    0.312997
vote_count    0.593180 -0.004128  ...      0.312997    1.000000

[7 rows x 7 columns]

In [0]:
series = data2['budget']
series
data_frame = data2[['id','budget']]
data_frame

          id     budget
0      19995  237000000
1        285  300000000
2     206647  245000000
3      49026  250000000
4      49529  260000000
...      ...        ...
4798    9367     220000
4799   72766       9000
4800  231617          0
4801  126186          0
4802   25975          0

[4803 rows x 2 columns]

In [0]:
x = data2['budget']>260000000
y=data2['id']>=19995
data1[y]

      movie_id  ...                                               crew
0        19995  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
2       206647  ...  [{"credit_id": "54805967c3a36829b5002c41", "de...
3        49026  ...  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4        49529  ...  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...
6        38757  ...  [{"credit_id": "52fe46db9251416c91062101", "de...
...        ...  ...                                                ...
4797     67238  ...  [{"credit_id": "52fe475dc3a368484e0c319f", "de...
4799     72766  ...  [{"credit_id": "52fe487dc3a368484e0fb013", "de...
4800    231617  ...  [{"credit_id": "52fe4df3c3a36847f8275ecf", "de...
4801    126186  ...  [{"credit_id": "52fe4ad9c3a368484e16a36b", "de...
4802     25975  ...  [{"credit_id": "58ce021b9251415a390165d9", "de...

[2101 rows x 4 columns]

In [0]:
threshold = sum(data2.vote_average)/len(data2.vote_average)
data2['vote_level'] = ['high' if i > threshold else 'low' for i in data2.vote_average]
data2.loc[:10, ['vote_level','vote_average']]

   vote_level  vote_average
0        high           7.2
1        high           6.9
2        high           6.3
3        high           7.6
4        high           6.1
5         low           5.9
6        high           7.4
7        high           7.3
8        high           7.4
9         low           5.7
10        low           5.4

In [89]:
useData= pd.concat([data1,data2], axis=1, ignore_index = False)
useData[:10]

   movie_id                                     title  ... vote_count vote_level
0     19995                                    Avatar  ...      11800       high
1       285  Pirates of the Caribbean: At World's End  ...       4500       high
2    206647                                   Spectre  ...       4466       high
3     49026                     The Dark Knight Rises  ...       9106       high
4     49529                               John Carter  ...       2124       high
5       559                              Spider-Man 3  ...       3576        low
6     38757                                   Tangled  ...       3330       high
7     99861                   Avengers: Age of Ultron  ...       6767       high
8       767    Harry Potter and the Half-Blood Prince  ...       5293       high
9    209112        Batman v Superman: Dawn of Justice  ...       7004        low

[10 rows x 25 columns]

In [0]:
#Preprocess input data for Keras

In [0]:
#Preprocess class labels for Keras

In [0]:
#Define model architecture
model= Sequential()
#input layer
model.add(Dense(10,activation='relu',use_bias=False))
model.add(Dropout(0.25))
model.add(Dense(10, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(10, activation='relu'))

In [0]:
#Compile model
model.compile(optimizer='adam')

In [0]:
#Fit model on training data

In [0]:
#Evaluate model on test data

[0.04541129999617115, 0.9839]

In [106]:
!git init
!git commit -m "first commit"
!git remote add origin https://github.com/sodakak007/cs409.git
!git push -u origin master

Reinitialized existing Git repository in /content/.git/
On branch master

Initial commit

Untracked files:
	.config/
	input/
	sample_data/

nothing added to commit but untracked files present
fatal: remote origin already exists.
error: src refspec master does not match any.
error: failed to push some refs to 'https://github.com/sodakak007/cs409.git'